.stack-work/
*.swp
tags
codex.tags
hscope.out
tex/*.png
tex/*.log
tex/*.4ct
tex/*.4tc
tex/*.aux
tex/*.bbl
tex/*.blg
tex/*.css
tex/*.dvi
tex/*.html
tex/*.tmp
tex/*.xref
tex/*.idv
tex/*.lg
tex/*.fls
tex/*.fdb_latexmk
tex/*.pdf


